<div class="partner-area pb-75">
    <div class="container">
    <div class="section-title">
        <h2>CSIR-NCL Spin Offs</h2>
    </div>
        <div class="customers-partners-list row justify-content-center">
            <div class="partner-item">
                       
                <a href="https://serigenmed.com/" target="_blank">
                    <img src="assets/img/partner/serigen.png" alt="image">
                                
                </a>
           </div>

            <div class="partner-item">
                <a href="https://www.rechargion.com/" target="_blank">
                    <img src="assets/img/partner/recharg.png" alt="image">
                </a>
                
            </div>

            <div class="partner-item">
                <a href="https://www.greenpyramidbiotech.com/" target="_blank">
                    <img src="assets/img/partner/green.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="https://www.abhiruchiprobiotics.in/" target="_blank">
                    <img src="assets/img/partner/abhiruchi.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="http://www.orthocrafts.com/" target="_blank">
                    <img src="assets/img/partner/ortho.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="https://tridiagonal.com/" target="_blank">
                    <img src="assets/img/partner/tridia.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="https://www.genrichmembranes.com/" target="_blank">
                    <img src="assets/img/partner/genrich.png" alt="image">
                </a>
            </div>
            <div class="partner-item">
                <a href="https://vorta.com/technology/" target="_blank">
                    <img src="assets/img/partner/vorta.png" alt="image">
                </a>
            </div>
            <!-- <div class="partner-item">
                <a href="#" target="_blank">
                    <img src="assets/img/partner/partner1.png" alt="image">
                </a>
          
        </div> -->
    </div>
</div>