<!-- <div class="banner-wrapper-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="banner-wrapper-content">
                    <span class="sub-title">ARCHIVE & MUSEUM</span>
                    <h1>Never underestimate the power of the past.</h1>
                    <p>A museum should not just be a place for fancy paintings but should be a place where we can communicate our lives through our everyday objects.</p>
                    <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="assets/img/banner/banner-img.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div> -->