<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Awards
                </li>
            </ul>
            <h1>Awards</h1>
        </div>
    </div>
    <!-- <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/bhat.jpg" alt="shape">
    </div> -->
    <!-- <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div> -->
</div>

<!-- Departments Area -->
<div class="services-area ptb-100">
    <div class="container">
        <div class="services-tabs">
            <ngx-tabset>
                <!-- <ngx-tab tabTitle="Top Technology">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Top Technology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Section 1:</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-virus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services6.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Top Patents">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Top Patents</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Section 2:</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-scalpel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services7.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Bhatnagar Awards">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Bhatnagar Awardees</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Section 3</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-cirrhosis"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services4.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab> -->




                <ngx-tab tabTitle="Shanti Swarup Bhatnagar Awards">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <!-- <h3><a routerLink="/services-details"></a></h3> -->
                                <!-- <p>To honor Dr. Shanti Swarup Bhatnagar, CSIR established the Shanti Swarup Bhatnagar Award for Science and Technology in 1957. This Award recognizes outstanding contributions across various research disciplines. Now known as the Vigyan Yuva: Shanti Swarup Bhatnagar (VY-SSB) Award (Since 2024), it continues to be one of the highest honors for scientists in India.</p> -->
                                <!-- <p><strong>Section 4</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul> -->
                                <!-- <a routerLink="/services-details" class="default-btn">Read More</a> -->
                                <!-- <div class="icon">
                                    <i class="flaticon-tooth"></i>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12"> -->
                            <!-- <div class="image">
                                <img src="assets/img/services/padma.jpg" alt="services-image">
                            </div> -->
                            <h1>Shanti Swarup Bhatnagar Awardees</h1>
                            To honor Dr. Shanti Swarup Bhatnagar, CSIR established the Shanti Swarup Bhatnagar Award for Science and Technology in 1957. This Award recognizes outstanding contributions across various research disciplines. Now known as the Vigyan Yuva: Shanti Swarup Bhatnagar (VY-SSB) Award (Since 2024), it continues to be one of the highest honors for scientists in India.
                            <div class="gallery">
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. S. C. Bhattacharya <strong>1962</strong>Organic Chemistry, Natural Product & Perfumary</figcaption>
                              </figure>
                            
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. B. D. Tilak <strong>1963</strong>Heterocyclic Chemistry</figcaption>
                              </figure>
                            
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. Sukh Dev <strong>1964</strong>Organic Synthesis & Natural Products </figcaption>
                              </figure>
                            
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. A. P. B. Sinha <strong>1972</strong> Solid State Materials Chemistry </figcaption>
                              </figure>
                            
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. H. B. Mathur <strong>1973</strong> Spectroscopy & Thermodynamics</figcaption>
                              </figure>
                            
                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. R. A. Mashelkar <strong>1982</strong> Polymer Rheology, Non-Newtonian Fluid Mechanics</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. Paul Ratnasamy <strong>1984</strong> Catalysis and Zeolites</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. B. D. Kulkarni <strong>1988</strong> Chemical Reaction Engineering</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. K. N. Ganesh <strong>1998</strong> Bio-organic Chemistry</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. G. Pandey <strong>1999</strong> Organic Chemistry</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. Sourav Pal<strong>2000</strong> Quantum Chemistry</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. Murali Sastry<strong>2002</strong> Surface Physics and Nanomaterials</figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. V. V. Ranade<strong>2004</strong> Multiphase Reactors and Fluid Dynamics </figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. A. K. Lele<strong>2006</strong> Polymer Dynamics, Rheology, and Hydrogels </figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. G. J. Sanjayan<strong>2012</strong> Bio-organic Chemistry </figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. D. Srinivasa Reddy<strong>2015</strong> Organic Synthesis and Medicinal Chemistry </figcaption>
                              </figure>

                              <figure class="imageRoll">
                                <i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i><i>
                                  </i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i>
                                <figcaption>Dr. Amol Kulkarni<strong>2020</strong> Multiphase Reactors and Reaction Engineering </figcaption>
                              </figure>

                            </div>
                            
                            
                        <!-- </div> -->
                    </div>
                </ngx-tab>


                
                <!-- <ngx-tab tabTitle="All Diretors">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">All Diretors</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Section 5</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-kidneys"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services9.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Personal Communication">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Personal Communication Letters</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Section 6</strong></p>
                                <ul>
                                    <li>Photo</li>
                                    <li>History</li>
                                    <li>Development</li>
                                    <li>Documentory</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-heartbeat"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services5.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab> -->
            </ngx-tabset>
        </div>
    </div>
    
</div>
