<!-- Page Title Area -->
<div class="page-title-area pb-0">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Contact Us
                </li>
            </ul>
            <div class="wrapper">
                <h5>Contact with CSIR-NCL Archives & Science Museum</h5>
              </div>
            <!-- <h3>Contact with CSIR-NCL Archives & Science Museum</h3> -->
        </div>
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/blue.png" alt="shape">
    </div>
</div>

<!-- Contact Info Area -->
<div class="contact-info-area pb-75 pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-map-pin-line"></i>
                    </div>
                    <h3>Address</h3>
                    <p>CSIR-National Chemical Laboratory, Dr. Homi Bhabha Road, Pashan, Pune 411008, india</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-phone-call"></i>
                    </div>
                    <h3>Call Us</h3>
                    <p><a href="tel:(+321) 895-980 008">020 2095 2039</a></p>
                    <p><a href="tel:+1-485-456-0102">020 2095 2129</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-envelope-simple"></i>
                    </div>
                    <h3>Email Us</h3>
                    <p><a href="mailto:hello@mevic.com">archives@ncl.res.in</a></p>
                    <p><a href="mailto:info@mevic.com">archive@ncl.res.in</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape5 wow animate__animated animate__fadeInDown" data-wow-delay=".1s"><img src="assets/img/shape/shape5.png" alt="shape"></div> -->
</div>

<!-- Maps Area -->
<div class="maps-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="maps">
                    <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=18.54157,73.8089729,17z&amp;q=CSIR+-+National+Chemical+Laboratory+(NCL)/@18.5415649,73.8115532,17z/data=!4m14!1m7!3m6!1s0x3bc2c0df00000001:0xf3e45674975a87d8!2sCSIR+-+National+Chemical+Laboratory+(NCL)!8m2!3d18.5415649!4d73.8115532!16s%2Fg%2F1tf8rk4w!3m5!1s0x3bc2c0df00000001:0xf3e45674975a87d8!8m2!3d18.5415649!4d73.8115532!16s%2Fg%2F1tf8rk4w?entry=ttu&g_ep=EgoyMDI1MDIwNS4xIKXMDSoASAFQAw%3D%3D&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="opening-hours-info">
                    <h3>Working Hours</h3>
                    <p>Have an emergency? Book your visit.</p>
                    <ul class="opening-hours">
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Saturday - Sunday</span>
                                <span>Close - Close</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Monday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Tuesday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Wednesday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Thursday - Friday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                    </ul>
                    <div class="box">
                        <h6>Emergency Support</h6>
                        <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                            <i class="flaticon-call"></i>
                            020 2095 2039
                        </a>
                    </div>
                    <!-- <div class="box">
                        <h6>Book an Appointment</h6>
                        <a routerLink="/book-appointment" class="d-flex align-items-center">
                            <i class="flaticon-calendar"></i>
                            Book Here
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Area -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">GET IN TOUCH</span>
            <h2>Have Any Questions? Let's Talk!</h2>
        </div>
        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="msg_subject" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone_number" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Message...</label>
                            <textarea name="message" class="form-control" cols="30" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkme">
                            <label class="form-check-label" for="checkme">
                                Accept <a routerLink="/contact">Terms of Services</a> and <a routerLink="/privacy-policy">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>