<div class="services-area pt-100 bg-1a1e42">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">SERVICES AREA</span>
            <h2>Where molecules meet innovation, and the secrets of the universe are unlocked through the power of chemistry.</h2>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/blog-left-sidebar" class="image d-block">
                            <img src="assets/img/services/tech.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h3><a routerLink="/blog-left-sidebar">Top Technologies</a></h3>
                            <p>Based on technologies developed by NCL, Government of India sets up the first Public Sector Company for the manufacture of organic chemicals in India, Hindustan Organic Chemicals Limited (HOC) at Rasayani, about 100 km away from Pune. Director, NCL is appointed Chairman of HOC. NCL gives birth to the first Indian organic chemical industry.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/blog-details" class="image d-block">
                            <img src="assets/img/services/patent.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <h3><a routerLink="/blog-details">Star Patents</a></h3>
                            <p>The Star Patents of CSIR-National Chemical Laboratory (CSIR-NCL) represent some of the most groundbreaking and commercially successful innovations developed by the institute. These patents have significantly contributed to advancements in chemical sciences, materials research, green chemistry, pharmaceuticals, and industrial processes, benefiting both academia and industries globally.</p>
                            <a routerLink="/blog-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/blog-right-sidebar" class="image d-block">
                            <img src="assets/img/services/video.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-youtube"></i>
                            </div>
                            <h3><a routerLink="/blog-right-sidebar">Videos</a></h3>
                            <p>The YouTube documentary videos on CSIR-National Chemical Laboratory (CSIR-NCL) provide a visual and engaging exploration of the institute’s rich scientific heritage, groundbreaking research, and contributions to industry and society. These documentaries, available on digital platforms, serve as an excellent resource for students, researchers, and the general public to understand NCL’s role in advancing chemical sciences.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services4.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-scalpel"></i>
                            </div>
                            <h3><a routerLink="/services-details">Dermatology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template> -->
                <!-- <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services5.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-heartbeat"></i>
                            </div>
                            <h3><a routerLink="/services-details">Cardiology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template> -->
            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div> -->
</div>