<!-- Default Services Section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div
    class="services-area pt-100 pb-75 bg-d9eff9"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/services-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">ARCHIVES COLLECTION</span>
            <h2></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <!-- <i class="flaticon-virus"></i>  -->
                        <!-- <i class="fa-solid fa-camera-retro"></i> -->
                        <i class="fa fa-picture-o" aria-hidden="true"
                style="font-size:100px;color:#29e5eb"></i>

                    </div>
                    <h3><a routerLink="/blog-grid">Photo Gallary</a></h3>
                    <p>An old photo collection from the CSIR-National Chemical Laboratory (NCL) provides a captivating glimpse into the history of scientific research and innovation in chemistry. These photographs, often in black and white or sepia tones, document the evolution of chemical sciences, showcasing early laboratories, pioneering scientists, and groundbreaking experiments.</p>
                    <a routerLink="/blog-grid" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-virus"></i> -->
                        <i class="fa fa-picture-o" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box active">
                    <div class="icon">
                        <!-- <i class="flaticon-scalpel"></i> -->
                        <i class="fa fa-university" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                    <h3><a routerLink="/services-details">Science Museum</a></h3>
                    <p>The Archives & Science Museum at CSIR-National Chemical Laboratory (CSIR-NCL) serves as a gateway to the rich legacy of scientific research and innovation in chemical sciences. This unique space preserves and showcases the laboratory’s history, achievements, and contributions to India’s scientific advancements.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-scalpel"></i> -->
                        <i class="fa fa-university" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <!-- <i class="flaticon-cirrhosis"></i> -->
                        <i class="fa fa-video-camera" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                    <h3><a routerLink="/faq">Oral History</a></h3>
                    <p>The Oral History Program at CSIR-National Chemical Laboratory (CSIR-NCL) is a valuable initiative dedicated to preserving the voices and experiences of pioneering scientists, researchers, and staff who have contributed to the laboratory’s legacy. Through recorded interviews, memoirs, and personal narratives, this program captures the human side of scientific discovery, providing a rich, first-hand account of the laboratory’s evolution, achievements, and challenges.</p>
                    <a routerLink="/faq" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-cirrhosis"></i> -->
                        <i class="fa fa-video-camera" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <!-- <i class="flaticon-tooth"></i> -->
                        <i class="fa fa-newspaper-o" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                    <h3><a routerLink="/blog-details-3">News Paper Cliping</a></h3>
                    <p>The Newspaper Clipping Collection at CSIR-National Chemical Laboratory (CSIR-NCL) serves as a valuable archive of media coverage documenting the laboratory’s scientific achievements, technological advancements, and institutional milestones. These clippings, sourced from national and regional newspapers, provide insights into the laboratory’s contributions to chemical research, industry collaborations, and societal impact over the years.</p>
                    <a routerLink="/blog-details-3" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-tooth"></i> -->
                        <i class="fa fa-newspaper-o" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <!-- <i class="flaticon-kidneys"></i> -->
                        <i class="fa fa-camera" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                    <h3><a routerLink="/blog-right-sidebar">Documentory</a></h3>
                    <p>The Documentary on CSIR-National Chemical Laboratory (CSIR-NCL) is a compelling visual narrative that showcases the institution’s rich legacy, groundbreaking research, and contributions to chemical sciences. Through archival footage, interviews, and historical records, the documentary provides an immersive experience into the journey of one of India's premier scientific institutions.</p>
                    <a routerLink="/blog-right-sidebar" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-kidneys"></i> -->
                        <i class="fa fa-camera" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <!-- <i class="flaticon-heartbeat"></i> -->
                        <i class="fa fa-cogs" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                    <h3><a routerLink="/services-details">Artifacts</a></h3>
                    <p>The Artifacts Collection at CSIR-National Chemical Laboratory (CSIR-NCL) serves as a window into the rich scientific heritage of the institution. These artifacts, carefully preserved over the years, represent the evolution of chemical research, technological advancements, and the laboratory’s contributions to science and industry.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <!-- <i class="flaticon-heartbeat"></i> -->
                        <i class="fa fa-cogs" aria-hidden="true"
                        style="font-size:100px;color:#29e5eb"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section For Home Demo - 2 -->
<div
    class="services-area pt-100 pb-75 bg-d9eff9 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-virus"></i>
                    </div>
                    <h3><a routerLink="/services-details">COVID-19</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dermatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                    <h3><a routerLink="/services-details">Hepatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                    <h3><a routerLink="/services-details">Urology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                    <h3><a routerLink="/services-details">Cardiology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section For Home Demo - 3 -->
<div
    class="services-area ptb-100 bg-d9eff9 d-none"
    [ngClass]="{'d-block': router.url === '/index-3' || router.url === '/services-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="services-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="COVID-19">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">COVID-19</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Fever</li>
                                    <li>Cough</li>
                                    <li>Tiredness</li>
                                    <li>Loss of taste or smell</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-virus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services6.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Hepatology">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Hepatology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Raised bumps that are red or white</li>
                                    <li>A rash, which might be painful or itchy</li>
                                    <li>Scaly or rough skin</li>
                                    <li>Peeling skin</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-scalpel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services7.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Dermatology">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Dermatology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Skin and eyes that appear yellowish (jaundice)</li>
                                    <li>Abdominal pain and swelling</li>
                                    <li>Swelling in the legs and ankles</li>
                                    <li>Itchy skin</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-cirrhosis"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services4.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Dentistry">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Dentistry</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Sensitive teeth</li>
                                    <li>Bleeding or sore gums</li>
                                    <li>Bad breath</li>
                                    <li>Dry mouth</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-tooth"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services8.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Urology">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Urology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Blood in the urine</li>
                                    <li>Pain when you urinate</li>
                                    <li>Changes in urinary pattern</li>
                                    <li>Frequent need to urinate</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-kidneys"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services9.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Cardiology">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Cardiology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Fluttering in your chest</li>
                                    <li>Racing heartbeat</li>
                                    <li>Slow heartbeat</li>
                                    <li>Chest pain or discomfort</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-heartbeat"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services5.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>