<div class="main-banner-slides">
    <owl-carousel-o [options]="mainBannerSlides">
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg4"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Archives & Science Museum</span>
                        <div class="wrapper">
                        <h3>CSIR-National Chemical Laboratory</h3>
                        </div>
                        <p></p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg1"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Openning Laboratory</span>
                        <h3>Shri. Jawaharlal Neharu Open Laboratory</h3>
                        <p>The history of National Chemical Laboratory dates back to 6th April 1947. On this day, the foundation stone for NCL was laid. On 3rd January 1950, this laboratory was declared open by the then first Prime Minister of India, Pandit Jawaharlal Nehru.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg9"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <br>
                        <h3>Mrs. Indira Gandhi Visit for CSIR-NCL</h3><br><br><br>
                        <p>Former Prime Minister Indira Gandhi visited CSIR-National Chemical Laboratory (CSIR-NCL), Pune, as part of her engagement with India’s scientific and technological institutions</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg2"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <h3>Mr. Ratan Tata Visit for NCL</h3>
                        <p>Inspiration for INDICA Comes from CSIR-National Chemical Laboratory - Mr. Ratan Tata Greets an Old Friend</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg3"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <br>
                        <h3>Mrs. Sonia Gandhi visit</h3><br><br><br>
                        <p>Rajiv Gandhi foundation, The Second Rajiv Gandhi Science & Technology Lecture, 9th January 1995.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg5"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <br>
                        <h3>Shri. Jawaharlal Neharu visit</h3><br><br><br>
                        <p>Pandit Jawaharlal Nehru, India’s first Prime Minister, visited CSIR-National Chemical Laboratory (CSIR-NCL), Pune, to recognize and support India's advancements in scientific research and industrial development. His visit was a significant milestone in India's journey toward self-reliance in science and technology.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg6"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <br>
                        <h3>Shri. Mukesh Ambani & Shri. Mohan Dhariya visit</h3><br><br><br>
                        <p></p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
  
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg10"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Visit</span>
                        <br>
                        <h3>Dr. A.P.J. Abdul Kalam visit</h3><br><br><br>
                        <p></p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg7"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Place</span>
                        <br>
                        <h3>Old Knowledge Resource Center/Library</h3><br><br><br>
                        <p></p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg8"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Great Place</span>
                        <br>
                        <h3>Old Archives & Science Museum, CSIR-NCL</h3><br><br><br>
                        <p></p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Staff</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>