<div class="footer-area extra-pt">
    <div class="container">
        <div class="footer-contact-info">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="box">
                        <div class="icon">
                            <i class="flaticon-map-location"></i>
                        </div>
                        <span>Office Address</span>
                        <h3>Dr. Homi Bhabha Road, Pune 411 008, INDIA</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="box">
                        <div class="icon">
                            <i class="flaticon-envelope"></i>
                        </div>
                        <span>24/7 Support</span>
                        <h3>
                            <a href="mailto:hello@mevic.com">
                                archives@ncl.res.in
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="box">
                        <div class="icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <span>Call Us Free</span>
                        <h3>
                            <a href="tel:+1-485-456-0102">
                                +91-020-2590-2039
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="custom-links">
                        <li>
                            <a href="https://www.ncl-india.org/">
                                CSIR-NCL
                            </a>
                        </li>
                        <li>
                            <a href="https://jobs.ncl.res.in/">
                                Career
                            </a>
                        </li>
                        <li>
                            <a href="http://library.ncl.res.in/">
                                KRC/Library
                            </a>
                        </li>
                        <li>
                            <a href="https://photos.ncl.res.in/">
                                Photo Gallary
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="custom-links">
                        <li>
                            <a routerLink="/about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/faq">
                                Oral History
                            </a>
                        </li>
                        <li>
                            <a routerLink="/departments">
                                Awards
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog-details-3">
                                Press Clipping
                            </a>
                        </li>
                        <li>
                            <a routerLink="/doctors">
                                Team
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="custom-links">
                        <li>
                            <a routerLink="/blog-grid">
                                Gallary
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog-left-sidebar">
                                Technologies
                            </a>
                        </li>
                        <!-- <li>
                            <a routerLink="/services-details">
                                Pannels
                            </a>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Oral History
                            </a>
                        </li> -->
                        <li>
                            <a routerLink="/blog-right-sidebar">
                                Old Videos Collection
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget ml-2">
                    <h3>Opening Hours</h3>
                    <ul class="opening-hours">
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Saturday - Sunday</span>
                                <span>Close</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Monday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Tuesday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Wednesday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Thursday - Friday</span>
                                <span>09:00AM - 05:30PM</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© CSIR-NCL is Proudly Owned by <a href="http://localhost:4200/" target="_blank">Archives & Science Museum</a></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="social">
                        <li>
                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>