<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/blog-grid">
                        Photo Gallary
                    </a>
                    
                </li>
                <!-- <li>
                    Foundation Days
                </li> -->
            </ul>
            <h1>CSIR-NCL Foundation Days</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Blog Area -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1975.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Smt. Indira Gandhi on the CSIR-NCL Foundation Day</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1975
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1993.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Dr. Ashok Sekhar Ganguly, Former Chairman of Hindustan Lever on the CSIR-NCL Foundation Day</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1993
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1996.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Dr. A.P.J. Abdul Kalam on the CSIR-NCL Foundation Day</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1996
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1997.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Dr. Banoo Coyaji, Director, KEM Hospital</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1997
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1998.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Dr. Paul Ratnaswamy, Director, CSIR-NCL, addressing the gathering on "NCL Foundation Day 1998" , Prof. P. Balram, I.I.Sc</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1998
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/1999.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">Prof. M. M. Sharma Chemical Engineering by the University of Bombay</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                1999
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/2000.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">The Golden Jubilee Celebrations graced by Honorable Prime Minister Shri Atal Bihari Vajpayee, Chief Minister of Maharashtra Vilasrao Deshmukh, Dr. Murli Manohar Joshi Union Minister of S&T</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                03 JAN, 2000
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/2003.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">CSIR-NCL Foundation Day, 2003</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                28 FEB, 2003
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-tag"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-tag" class="image d-block">
                        <img src="assets/img/foundation/2004.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">CSIR-NCL Foundation Day</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                2004
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details"></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/blog-tag" class="prev page-numbers"><i class="ph-caret-left"></i></a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/blog-tag" class="page-numbers">2</a>
                        <a routerLink="/blog-tag" class="page-numbers">3</a>
                        <a routerLink="/blog-tag" class="page-numbers">4</a>
                        <a routerLink="/blog-tag" class="next page-numbers"><i class="ph-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>