<!-- Page Title Area -->

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                   Top Patents
                </li>
            </ul>
            <h1>Star Patents</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>



<div class="container">

  
    <header class="main-header clearfix">
        <img class="assets/img/ncl.jpg">
        <h1 class="name">CSIR-NCL Star Patents <span></span></h1>
        <h6><span>Showcases groundbreaking innovations that
            maximize revenue generation through
            distinctive market applications and exceptional
            competitive advantages</span></h6>
    </header>
</div>
    <div class="container">
        <img class="container__image" src="assets/img/patent/benefuel.jpg">
        <div class="container__text">
          <h2>BENEFUEL</h2><br>
          <p><strong> Process for the preparation of primary
            alkyl glycerol ethers useful as biofueladditive
            from glycerol :</strong></p>
          <p>A method to make glycerol ethers,
            which are useful as biofuel-additives,
            by reacting glycerol with an alcohol
            using a solid acid catalyst.</p>
        </div>
        
      </div>
      <div class="container">
        <img class="container__image" src="assets/img/patent/vinati.jpg">
        <div class="container__text">
          <h2>Vinati Organics Limited</h2><br>
          <p><strong> Process for the preparation of
            2-acrylamido-2-methyl-1-
            propanesulfonic acid (AMPS) :</strong></p>
          <p>CSIR-NCL developed a process for the
            production of highly pure AMPS with
            high yield. AMPS is used in wide range
            of industrial applications such as
            water purification, latex, adhesives,
            acrylic fibers, etc.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/godavari.jpg">
        <div class="container__text">
          <h2>Godavari Biorefineries Ltd.</h2><br>
          <p><strong> Process for fractionating sugarcane
            bagasse into high alpha cellulose
            pulp, xylan and lignin :</strong></p>
          <p>Separating sugarcane bagasse into
            cellulose, hemicellulose, and lignin to
            obtain high purity alpha cellulose,
            which is a valuable material for
            making cellulose esters and other
            high value plastics.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/celanese.jpg">
        <div class="container__text">
          <h2>Celanese</h2><br>
          <p><strong> Process for the continuous trans
            vinylation of carboxylic acids with
            vinyl acetate :</strong></p>
          <p>Selective formation of vinyl esters,
            used for corrosion-resistant tanks
            and pipes for industrial use.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/nan.jpg">
        <div class="container__text">
          <h2>Nanorbital</h2><br>
          <p><strong> Continuous flow production
            of metal nanowires :</strong></p>
          <p>A simple and efficient continuous flow process for synthesizing metal nanowires using a series of using continuous stirred tank reactors (CSTRs) to control the aspect ratio of the nanowires and nanorods.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/emcu.jpg">
        <div class="container__text">
          <h2>Emcure</h2><br>
          <p><strong> Process for preparation of chiral
            amlodipine salts :</strong></p>
          <p>Are used to control high blood
            pressure, angina, and coronary artery
            disease.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/electric.jpg">
        <div class="container__text">
          <h2>General Electric</h2><br>
          <p><strong> A process for the preparation of
            poly (ester-carbonate)s :</strong></p>
          <p>These polycarbonates are used in
            eyeglass lenses, compact discs, and
            bulletproof glass.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/usv.jpg">
        <div class="container__text">
          <h2>USV</h2><br>
          <p><strong> Process for preparing Dorzolamide
            Hydrochloride :</strong></p>
          <p>This invention relates to an improved
            process for the preparation of
            Dorzolamide Hydrochloride used in
            the treatment of glaucoma and ocular
            hypertension.</p> <br>
            <p><strong> Process for the preparation of
                crosslinked polyallylamine
                polymer :</strong></p>
              <p>Polyallylamine is used to create
                hydrogels with specific properties
                for biomedical applications.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/reliance.jpg">
        <div class="container__text">
          <h2>Reliance Industries Limited</h2><br>
          <p><strong> Improved performance of artificial
            neural network :</strong></p>
          <p>These advancements allow the
            models to maintain high accuracy and
            reliability despite data imperfections.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/shantani.jpg">
        <div class="container__text">
          <h2>Shantani</h2><br>
          <p><strong> Process for the preparation of
            novel indazole compounds :</strong></p>
          <p>Indazole derivatives are pharmacologically important as
            they form the basic structure of
            several drug molecules.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/sign.jpg">
        <div class="container__text">
          <h2>Sign Stop</h2><br>
          <p><strong> Method & apparatus for online
            identification of safe operation &
            advance detection of unsafe operation
            of a system or process :</strong></p>
          <p>This invention uses a technique called
            wavelet transformation to monitor
            and detect potential safety issues in
            systems by analyzing noisy data,
            helping to identify safe and unsafe
            operations in real time.</p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/erythro.jpg">
        <div class="container__text">
          <h2>Erythro Pharma</h2><br>
          <p><strong> Process for the preparation of
            substituted thiazole :</strong></p>
          <p>Thiazole derivatives have wide range of pharmaceutical
            applications, such as antioxidant, analgesic, antimicrobial,
            antifungal, anticancer, etc.
            </p>
        </div>
        
      </div>

      <div class="container">
        <img class="container__image" src="assets/img/patent/membrane.jpg">
        <div class="container__text">
          <h2>Membrane Filters</h2><br>
          <p><strong> Process for the preparation of ultra
            filtration membranes based on poly
            acrylonitrile and its co-polymers :</strong></p>
          <p>Polyacrylonitrile (PAN) membranes
            are used for ultra- and micro filtration
            processes.
            </p>
        </div>

     
        
      </div>

    <!-- <div class="content clearfix">

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front"src="assets/img/patent/benefuel.jpg" alt="">
                <div class="back photo-desc">
                  <h3>BENEFUEL</h3>
                  <p><b>Process for the preparation of primary
                    alkyl glycerol ethers useful as biofueladditive
                    from glycerol:</b></p>
                    <p>A method to make glycerol ethers,
                        which are useful as biofuel-additives,
                        by reacting glycerol with an alcohol
                        using a solid acid catalyst</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="assets/img/patent/benefuel.jpg" alt="">
                <img class="right" src="assets/img/patent/benefuel.jpg" alt="">
                
            </div>
        </div>	

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="assets/img/patent/vinati.jpg" alt="">
                <div class="back photo-desc">
                  <h3>Vinati Organics Limited</h3>
                  <p><b>Process for the preparation of
                    2-acrylamido-2-methyl-1-
                    propanesulfonic acid (AMPS):</b></p>
                    <p>CSIR-NCL developed a process for the
                        production of highly pure AMPS with
                        high yield. AMPS is used in wide range
                        of industrial applications such as
                        water purification, latex, adhesives,
                        acrylic fibers, etc.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="assets/img/patent/vinati.jpg" alt="">
                <img class="right" src="assets/img/patent/vinati.jpg" alt="">

            </div>
        </div>	

        <div class="cube-container">
            <div class="photo-cube">

                <img class="front" src="assets/img/patent/godavari.jpg" alt="">
                <div class="back photo-desc">
                  <h3>Godavari Biofineries LTD</h3>
                  <p><b>Process for fractionating sugarcane
                    bagasse into high alpha cellulose
                    pulp, xylan and lignin:</b></p>
                    <p>Separating sugarcane bagasse into
                        cellulose, hemicellulose, and lignin to
                        obtain high purity alpha cellulose,
                        which is a valuable material for
                        making cellulose esters and other
                        high value plastics.</p>
                    <a href="#" class="button">download</a>
                </div>
                <img class="left" src="assets/img/patent/godavari.jpg" alt="">
                <img class="right" src="assets/img/patent/godavari.jpg" alt="">

            </div>
        </div>	

        <div class="content clearfix">

            <div class="cube-container">
                <div class="photo-cube">
    
                    <img class="front"src="assets/img/patent/celanese.jpg" alt="">
                    <div class="back photo-desc">
                      <h3>BENEFUEL</h3>
                      <p><b>Process for the preparation of primary
                        alkyl glycerol ethers useful as biofueladditive
                        from glycerol:</b></p>
                        <p>A method to make glycerol ethers,
                            which are useful as biofuel-additives,
                            by reacting glycerol with an alcohol
                            using a solid acid catalyst</p>
                        <a href="#" class="button">download</a>
                    </div>
                    <img class="left" src="assets/img/patent/benefuel.jpg" alt="">
                    <img class="right" src="assets/img/patent/benefuel.jpg" alt="">
                    
                </div>
            </div>	
    
            <div class="cube-container">
                <div class="photo-cube">
    
                    <img class="front" src="assets/img/patent/nano.jpg" alt="">
                    <div class="back photo-desc">
                      <h3>Vinati Organics Limited</h3>
                      <p><b>Process for the preparation of
                        2-acrylamido-2-methyl-1-
                        propanesulfonic acid (AMPS):</b></p>
                        <p>CSIR-NCL developed a process for the
                            production of highly pure AMPS with
                            high yield. AMPS is used in wide range
                            of industrial applications such as
                            water purification, latex, adhesives,
                            acrylic fibers, etc.</p>
                        <a href="#" class="button">download</a>
                    </div>
                    <img class="left" src="assets/img/patent/vinati.jpg" alt="">
                    <img class="right" src="assets/img/patent/vinati.jpg" alt="">
    
                </div>
            </div>	
    
            <div class="cube-container">
                <div class="photo-cube">
    
                    <img class="front" src="assets/img/patent/emcu.jpg" alt="">
                    <div class="back photo-desc">
                      <h3>Godavari Biofineries LTD</h3>
                      <p><b>Process for fractionating sugarcane
                        bagasse into high alpha cellulose
                        pulp, xylan and lignin:</b></p>
                        <p>Separating sugarcane bagasse into
                            cellulose, hemicellulose, and lignin to
                            obtain high purity alpha cellulose,
                            which is a valuable material for
                            making cellulose esters and other
                            high value plastics.</p>
                        <a href="#" class="button">download</a>
                    </div>
                    <img class="left" src="assets/img/patent/godavari.jpg" alt="">
                    <img class="right" src="assets/img/patent/godavari.jpg" alt="">
    
                </div>
            </div>	
    
    </div>
</div> -->


<!-- <div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area left-sidebar">
                    <app-widget-sidebar></app-widget-sidebar>
                </aside>
            </div>
            
        </div>
    </div>
</div> -->
