<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    NCL Success Stories
                </li>
            </ul>
            <h1>Top Technologies</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Blog Area -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area left-sidebar">
                    <app-widget-sidebar></app-widget-sidebar>
                </aside>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/paraceta.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Acetanilide for Paracetamol</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1960's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">A process was developed for the continuous
                                    production of pharmaceutical-grade acetanilide, the
                                    precursor to paracetamol. This technology was
                                    transferred to Hindustan Organic Chemicals for
                                    commercialization, making it the first technology
                                    transferred from all existing national laboratories to an
                                    industry.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/vitamin.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Vitamin C</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1960's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Indigenous process for the production of Vitamin C
                                    developed at CSIR-NCL and licensed to Hindustan
                                    Antibiotics.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/hexachloroethane.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Hexachloroethane (Frozen Chlorine)</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1960's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Around 1960, as the India–Pakistan war raged furiously,
                                    the Defense Ministry approached CSIR-NCL to quickly
                                    develop a process for hexachloroethane production for
                                    use in the war as smoke screen.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/opium.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Opium Alkaloids</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">During a period when a significant portion of Indian
                                    opium was exported and re-imported as morphine and
                                    codeine, CSIR - NCL worked on the process development
                                    of alkaloid extraction. Subsequently, a collaboration with
                                    the government-run opium alkaloids factory at
                                    Neemuch resulted in the successful indigenous
                                    production of morphine, codeine, and other alkaloids.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/chemaprene.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Chemaprene-Nitrile Rubber</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Processes were developed for manufacturing of three
                                    different grades of nitrile rubber for applications that
                                    require oil resistance. The nitrile rubbers manufactured
                                    using the processes standardized in CSIR-NCL was
                                    marketed under the trade name Chemaprene.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/dme.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Dimethylaniline (DMA) Process</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">DMA is used in the production of dyes and the explosive tetryl for
                                    detonators. The traditional manufacturing process generated a
                                    byproduct equal in volume to the main product, resulting in
                                    higher chemical consumption and increased production costs.
                                    Using an alumina catalyst, a new vapor-phase process, which
                                    significantly minimized the byproduct. This process was
                                    successfully implemented at a 2000 tons per annum plant.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/phenthoate.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Phenthoate</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Phenthoate is an organo-phosphorus insecticide recognized for
                                    its wide-ranging effectiveness against various agricultural pests,
                                    particularly those impacting rice, cotton, tea, and tobacco. The
                                    production technology was developed by CSIR-NCL and licensed
                                    to Bharat Pulverizing Mills Ltd. in Bombay, which operated a
                                    plant with an annual capacity of 300 tons, generating a turnover
                                    of Rs 2.2 crores. (1974)</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/enzyme.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Enzyme Technology</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">The laboratory discovered new enzymes: NADP-specific
                                    glycerol dehydrogenase from Aspergillus niger, succinyl
                                    coA-citramalate CoA transferase and citramalyl-CoA
                                    lyase of Pseudomonas, etc. Pyruvic oxidase from muscle,
                                    hydrogenase from Desulfovibrio and hexokinase and
                                    aceyl cholinesterase from brain were obtained for the
                                    first time in soluble form. Development of these
                                    enzymes made significant contributions to enzymology.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/monoethylaniline.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Monoethylaniline</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1970's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">In the 1970s, CSIR-NCL developed a selective liquid phase
                                    process for monoethylaniline which was needed by
                                    Government of India for defense applications. An
                                    integrated pilot plant reactor assembly was then
                                    fabricated.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/cancer.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Development of Anti-Cancer Drug</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Drugs synthesized from Vinca Rosea.</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/sorbitol.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Sorbitol from Dextrose Monohydrate</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Sorbitol, a sugar alcohol is used in food industries and
                                    pharmaceuticals. CSIR-NCL developed a process for the
                                    production of sorbitol from dextrose monohydrate and
                                    licensed to Maize Products Ltd., Ahmedabad.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/albene.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Albene Technology</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">A unique catalytic process for manufacturing of
                                    ethylbenzene, used in the production of styrene was
                                    developed by CSIR-NCL and licensed it to Hindustan
                                    Polymers.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/ethyl.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Ethylenediamine (EDA) Process</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">EDA is largely used in the manufacturing of agrochemicals and
                                    textile intermediates. CSIR-NCL developed a process for
                                    indigenous production of EDA and licensed it to Diamines and
                                    Chemicals Ltd.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/acrylic.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Acrylic Esters</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Acrylic ester monomers are required to produce acrylic
                                    fibers. Process for indigenous in-house Acrylic ester monomers are required to produce acrylic
                                    fibers. Process for indigenous in-house manufacturing
                                    o f  a c r y l i c  e s t e r s  w a s  t r a n s f e r r e d  t o  I n d i a n
                                    Petrochemicals Corporation Ltd. (IPCL). Corporation Ltd. (IPCL).</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/b6.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Vitamin B6</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Indigenous process for the production of vitamin B6 developed at CSIR-NCL and licensed to Lupin Laboratories.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/natural.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a >Natural Products</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Himalayan cedar wood oil possesses various medicinal
                                    properties. CSIR-NCL characterized it uncovering
                                    numerous pharmacologically active components. This
                                    research led to the development of a commercial
                                    preparation- FlematicR, prescribed for various
                                    veterinary ailments. The laboratory also investigated
                                    and characterized commercially important natural
                                    products like turpentines from Pinus, terpenoids from
                                    Ailanthus, oils from Lavender, flavonoids from
                                    Artocarpus, etc.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/novel.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Novel Adhesives for Automotive</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed an innovative adhesive that bonds
                                    friction materials to clutch discs without using rivets.
                                    This unique formulation provides the necessary lap
                                    shear strength while maintaining essential cushioning
                                    properties for clutch applications and licensed to Bajaj
                                    Auto, Pune.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/jalshakti.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Jalshakti</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed a gel, which could absorb 100 to 500
                                    grams of water per gram of material. Its potential impact
                                    in India, particularly given the country's unique agroclimatic
                                    conditions, was significant. With about 70% of
                                    India's cultivable area relying on rain-fed agriculture, the
                                    introduction of such materials could dramatically
                                    enhance agricultural production by mitigating soil
                                    moisture stress during uncertain rainfall periods.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/narco.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Narcotics Detection Kit</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1980's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed a kit to identify suspected narcotic
                                    substances, and this technology was commercialized by
                                    Hindustan Antibiotics Limited.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/plant.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Contributions in Plant Tissue Culture</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Tissue culture is an efficient technique for plant
                                    propagation that involves cultivating plant cells, tissues,
                                    or organs in a controlled environment on nutrient-rich
                                    culture media. In 1992, a tissue culture pilot plant facility
                                    was designed and commissioned, with a production
                                    capacity of one million plants per year. This facility
                                    focuses on multiplying economically important species,
                                    such as bamboo, teak, and eucalyptus.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/zeolite.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">NCL's Zeolites - The Encilites (High Performance Catalysts)</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Encilite - 1 (Xylofining Technology):
                                    Efficient catalyst for the oxidation of pxylene
                                    to terephthalic acid for the
                                    manufacture of polyesters. Encilite -2 (For Ethyl Benzene):
                                    A unique process for direct alkylation of
                                    benzene with ethanol to produce ethyl
                                    benzene, a precursor to styrene for
                                    polymer industries. Encicarb and Enciox:
                                    Encicarb used for carbonylation of
                                    methanol to acetic acid and Enciox for
                                    the oxidation of a mixture of C4
                                    hydrocarbons to methyl-ethyl ketone.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/encilium.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Encilium Technology for Alcohol</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed a novel strain of yeast which
                                    increased the alcohol fermentation efficiency compared
                                    to the conventional processes.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/bamboo.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Bamboo Blooming</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">As bamboo was considered not amenable to breeding,
                                    there was not much work done on its floral biology and
                                    breeding behavior. Studies at CSIR-NCL unfolded the
                                    mechanism of flowering at the molecular level resulting
                                    in the development of bamboo varieties that rapidly
                                    propagate. This spectacular success brought the CSIRNCL
                                    worldwide acclaim.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/alphanso.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Alphonso Mango</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">In 1994, Indian government launched a national program
                                    focused on the micro-propagation of mangoes. Among
                                    different varieties, the renowned Alphonso, was
                                    entrusted to CSIR-NCL. A dedicated team of researchers
                                    investigated this mango's distinctive taste, texture, and
                                    aroma and explored flavor variations. The team
                                    characterized key compounds like mesifuran, (Z)-
                                    ocimene, and octalactone in Devgad Alphonso. These
                                    findings were instrumental in securing the Geographical
                                    Indication Tag for the Devgad Alphonso Mango.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/homo.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Homobrassinolide Technology</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        1990's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Brassinolide, a powerful plant growth hormone that
                                    accelerates the rate of cell elongation and cell division
                                    used for growing high quality grapes. Technology for the
                                    production of brassinolide was developed by CSIR-NCL
                                    and licensed to Bahar Agrochem and Feeds Pvt. Ltd.,
                                    Ratnagiri, Maharashtra. Commercialized by the trade
                                    names: Combine, Bountee, Double and Bumper.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/acid.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">High Quality Lactic Acid</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed a process to synthesize lactic acid
                                    via fermentation of sugarcane-derived feedstock. The
                                    downstream processing of the fermentation broth
                                    resulted in the production of 99.9% pure lactic acid.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/sheep.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Sheep breed NARI-Suwarna</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Shepherd's income depend on the number of lambs
                                    produced, yet most Indian breeds typically yield only one
                                    offspring per lambing. To address this, CSIR-NCL and the
                                    Nimbkar Agricultural Research Institute (NARI)
                                    developed the prolific breed “NARI Suwarna’ by
                                    crossbreeding Deccani sheep from Maharashtra with the
                                    Garole sheep from West Bengal. This cross breed can
                                    produce more than one offspring in each lambing. This
                                    research significantly benefited the Indian sheep
                                    breeding industry. CSIR-NCL was awarded ‘CSIR Award
                                    for S&T Innovations for Rural Development’ for the year
                                    2007 (CAIRD-2007).</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/thpe.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Tris-hydroxy-phenylethane (THPE) Production Process</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">THPE is used in manufacturing of specialty
                                    polycarbonates. CSIR-NCL developed an indigenous
                                    process with GE Plastics, USA and Excel Industries, Roha,
                                    which reduced the production cost significantly. Apart
                                    from the royalties, the laboratory was conferred with the
                                    CSIR Technology Award in 2003.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/atbs.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">2-Acrylamido 2-T-Butyl Sulfonic Acid (ATBS) Technology</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">ATBS, a specialty chemical used in many applications
                                    such as: oil recovery, drilling, and also a corrosion and
                                    scale inhibitor. The laboratory synthesized ATBS in a
                                    novel continuous one step process with no effluents.
                                    CSIR-NCL received the CSIR Technology Award for ATBS
                                    in 2005.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/porous.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Porous Polyethylene</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">Facial prosthetics are specialized implants designed to
                                    restore or enhance facial appearance, often following
                                    surgery, injury, or congenital conditions. These
                                    prosthetics can be made from materials like silicone or
                                    polyethylene. CSIR-NCL developed several innovative
                                    biocompatible and prosthetic implants from porous
                                    polyethylene.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/catalyst.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">TS-1 Catalyst</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">This high-value catalyst developed at CSIR-NCL found
                                    application in processes like (1) the production of
                                    catechol and hydroquinone from phenol (pharmaceutical
                                    application), (2) the epoxidation of propylene to produce
                                    propylene oxide (food additive), (3) the epoxidation of allyl
                                    chloride to form epichlorohydrin (synthetic material), and
                                    (4) the synthesis of heterocycles such as pyridine and
                                    substituted pyridines (solvents).</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-left-sidebar" class="image d-block">
                                <img src="assets/img/blog/biodiesel.jpg" alt="blog-image">
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <img src="assets/img/blog/tag.svg" alt="tag">
                                        <a routerLink="/blog-left-sidebar">Efficient Process for Biodiesel</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/blog/calendar.svg" alt="tag">
                                        2000's
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-left-sidebar">CSIR-NCL developed a novel catalyst that achieved 95-
                                    98% conversion of oils like Jatropha and unrefined rubber
                                    seed oil into biodiesel, a renewable alternative to petrol
                                    and diesel.</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/blog-left-sidebar" class="prev page-numbers"><i class="ph-caret-left"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/blog-left-sidebar" class="page-numbers">2</a>
                                <a routerLink="/blog-left-sidebar" class="page-numbers">3</a>
                                <a routerLink="/blog-left-sidebar" class="page-numbers">4</a>
                                <a routerLink="/blog-left-sidebar" class="next page-numbers"><i class="ph-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>