<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    TEAM
                </li>
            </ul>
            <h1>Archive & Science Museum Team</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Doctors Area -->
<div class="doctors-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="filter-sidebar">
                    <div class="sidebar-title">
                        <h3>FILTERS</h3>
                        <span>RESET</span>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                                COLLECTION
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="addiction-medicine">
                                            <label class="form-check-label" for="addiction-medicine">
                                                Photo Gallery
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="addiction-psychiatry">
                                            <label class="form-check-label" for="addiction-psychiatry">
                                                Oral History
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="adolescent-medicine">
                                            <label class="form-check-label" for="adolescent-medicine">
                                                Top Technologies
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="allergy-immunology">
                                            <label class="form-check-label" for="allergy-immunology">
                                                Star Patents
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="cardiac-electrophysiology">
                                            <label class="form-check-label" for="cardiac-electrophysiology">
                                                Videos Collection
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dermatologists">
                                            <label class="form-check-label" for="dermatologists">
                                                Artifacts
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="ophthalmologists">
                                            <label class="form-check-label" for="ophthalmologists">
                                                Visitors Collection
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="obstetrician-gynecologists">
                                            <label class="form-check-label" for="obstetrician-gynecologists">
                                                Annual Reports
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="otolaryngologists">
                                            <label class="form-check-label" for="otolaryngologists">
                                                Pannels
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="radiologists">
                                            <label class="form-check-label" for="radiologists">
                                                Padma Awards List 
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="orthopedic-surgeons">
                                            <label class="form-check-label" for="orthopedic-surgeons">
                                                Bhatnagar Awards List
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                            Top Technologies
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="allergy">
                                            <label class="form-check-label" for="allergy">
                                                Tris-hydroxy-phenylethane (THPE) Production Process
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="angioplasty-stent-placement">
                                            <label class="form-check-label" for="angioplasty-stent-placement">
                                                Sheep breed NARI-Suwarna
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="arrhythmias">
                                            <label class="form-check-label" for="arrhythmias">
                                                High Quality Lactic Acid
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="arthroscopic-surgery">
                                            <label class="form-check-label" for="arthroscopic-surgery">
                                                Homobrassinolide Technology
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brain-tumors">
                                            <label class="form-check-label" for="brain-tumors">
                                                Bamboo Blooming
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="mental-disorders">
                                            <label class="form-check-label" for="mental-disorders">
                                                Contributions in Plant Tissue Culture
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="injury-poison">
                                            <label class="form-check-label" for="injury-poison">
                                                Albene Technology
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="endocrine">
                                            <label class="form-check-label" for="endocrine">
                                                Ethylenediamine (EDA) Process
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="circulatory">
                                            <label class="form-check-label" for="circulatory">
                                                Development of Anti-Cancer Drug
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="respiratory">
                                            <label class="form-check-label" for="respiratory">
                                                Enzyme Technology
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="musculoskeletal">
                                            <label class="form-check-label" for="musculoskeletal">
                                                Dimethylaniline (DMA) Process
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                                GENDER
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="male">
                                            <label class="form-check-label" for="male">
                                                Male
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="female">
                                            <label class="form-check-label" for="female">
                                                Female
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/madam.jpg" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-fracture"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Sunita Barve</a></h3>
                                <span class="designation">Head, KRC/Library Senior Technical Officer (3)</span>
                                <!-- <span class="designation">KRC/Library, CSIR-National Chemical Laboratory</span> -->
                                <p>KRC/Library, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/vn.jpg" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-ct-scan"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Dr. Varun Natu</a></h3>
                                <span class="designation">Scientist</span>
                                <!-- <span class="designation"></span> -->
                                <p>Physical & Material Chemistry Division, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <a routerLink="/coming-soon" class="link-btn">View Profile <i class="ph-caret-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/tp.png" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-ct-scan"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Dr. Tanmoy Patra</a></h3>
                                <span class="designation">Scientist</span>
                                <!-- <span class="designation">KRC/Library, CSIR-National Chemical Laboratory, Pune</span> -->
                                <p>Technology Management Group, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <a routerLink="/coming-soon" class="link-btn">View Profile <i class="ph-caret-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/sn.jpg" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-cardiogram"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Dr. Sakya S. Sen</a></h3>
                                <span class="designation">Senior Principal Scientist</span>
                                <!-- <span class="designation"></span> -->
                                <p>Catalysis Division, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <a routerLink="/coming-soon" class="link-btn">View Profile <i class="ph-caret-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/kk.jpg" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-cardiogram"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Mr. Kaushal Kumar</a></h3>
                                <span class="designation">Administrative Officer</span>
                                <!-- <span class="designation"></span> -->
                                <p>AO Office, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <a routerLink="/coming-soon" class="link-btn">View Profile <i class="ph-caret-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/gati.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-x-ray"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Mr. Gati K. Nayak</a></h3>
                                <span class="designation">Senior Technical Officer</span>
                                
                                <p>KRC/Library, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctors" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/Jithin.jpg" alt="doctor-image">
                                <div class="icon">
                                    <!-- <i class="flaticon-cardiogram"></i> -->
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctors">Mr. Jithin Jacob K.</a></h3>
                                <span class="designation">Project Associate (2)</span>
                                <!-- <span class="designation"></span> -->
                                <p>Archive & Science Museum, CSIR-National Chemical Laboratory, Pune</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <!-- <a routerLink="/coming-soon" class="link-btn">View Profile <i class="ph-caret-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>



                    
                    <!-- <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor6.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-assistance"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Jaxson Parker</a></h3>
                                <span class="designation">PHYSICIANS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor7.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-stethoscope"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Claire Hailey</a></h3>
                                <span class="designation">GASTROENTEROLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor8.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-tooth"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Evan Bryson</a></h3>
                                <span class="designation">HEMATOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor9.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-brain-1"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Alexa Nicole</a></h3>
                                <span class="designation">INTERNISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/doctors" class="prev page-numbers"><i class="ph-caret-left"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/doctors" class="page-numbers">2</a>
                                <a routerLink="/doctors" class="page-numbers">3</a>
                                <a routerLink="/doctors" class="page-numbers">4</a>
                                <a routerLink="/doctors" class="next page-numbers"><i class="ph-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>