<div
    class="about-area pt-100"
    [ngClass]="{'pt-0': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row">
            
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="about-image">
                    <!-- <img src="assets/img/about/about1.png" alt="about-image"> -->
                    <img src="assets/img/about/buildncl.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="about-content">
                    <!-- <img src="assets/img/about/bg1.jpg" alt="about-image"> -->
                    <span class="sub-title">ABOUT US</span>
                    <h3>CSIR-National Chemical Laboratory is to advance knowledge and to apply chemical science for the good of the people.</h3>
                    <ul class="list">
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Historical Collections of CSIR-NCL
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                100% Expert Staff
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Top Technologies
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Star Patents
                            </span>
                        </li>
                    </ul>
                    <p>CSIR-National Chemical Laboratory (CSIR-NCL), located in Pune, is a constituent laboratory of the Council of Scientific and Industrial Research. Established in 1950 with a vision to demonstrate the practicability of research for the Indian Chemical Industry, the purpose of the laboratory has enlarged to develop globally competitive, differentiated and sustainable technologies, while also offering best-in-class R & D services and creating high quality human resource for deep-tech industry in the chemical and allied sectors. Several of the laboratory's indigenous technologies have been commercialised and have made impactful contributions in the private, public, and strategic sectors. Through its 75 years of journey, CSIR-NCL has shaped the innovation landscape of the country and continues to experiment with new models of mutually beneficial engagement with stakeholders.</p>
                    <div class="ceo-info d-flex align-items-center">
                        <div class="signature">
                            <img src="assets/img/about/ncllogo.png" alt="signature">
                        </div>
                        <div class="info d-flex align-items-center">
                            <img src="assets/img/about/Director.jpg" alt="ceo">
                            <div class="title">
                                <h4>Dr. Ashish Lele </h4>
                                <span>Director of CSIR-National Chemical Laboratory, Pune</span>
                            </div>
                        </div>
                    </div>
                    <!-- <a routerLink="/book-appointment" class="default-btn style-two">
                        <i class="flaticon-calendar-1"></i>
                        Request an Appointment
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>