<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    News Paper
                </li>
            </ul>
            <!-- <h1>News Paper Clipping CSIR-National Chemical Laboratory, Pune</h1> -->
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape20.png" alt="shape">
    </div>
    <!-- <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div> -->
</div>

<!-- Blog Details Area -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">


                    <div class="post-thumb">
                        <img src="assets/img/blog/news2.jpg" alt="blog-details">
                    </div>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-details-3">Prime Minister Pandit Neharu Opens First National Laboratory</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                03 JAN, 1950
                            </li>
                        </ul>
                    </div>
                    <blockquote class="wp-block-quote">
                    <p><Strong>The first National Laboratory of India, the National Chemical Laboratory, was opened here today by Prime Minister Pandit Nehru, at a ceremony witnessed by leading foreign and Indian scientists present here for the Science Congress.</Strong></p>
                </blockquote>


                    <div class="post-thumb">
                        <img src="assets/img/blog/news1.jpg" alt="blog-details">
                    </div>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-details-3">शुध्द बीज ओळखण्याचे तंत्रज्ञान</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                20 JUL, 1996
                            </li>
                        </ul>
                    </div>
                    <blockquote class="wp-block-quote">
                    <p><Strong>शुध्द बीज ओळखण्यासाठीचे डीएनए फिंगरप्रिंट तंत्रज्ञान विकसित करण्यात येतील राष्ट्रीय रासायनिक प्रयोगशाळेतील (एनसीएल) संशोधकांना यश आले आहे. अशा प्रकारचे तंत्रज्ञान विकसित करणारी एनसीएल ही भारतातील बहुधा पहिलीच संस्था असून, त्याचा कृषी व्यवसायाला मोठा लाभ होणार आहे.</Strong></p>
                </blockquote>
                    

            <div class="post-thumb">
                <img src="assets/img/blog/news4.jpg" alt="blog-details">
            </div>
            <div class="post-meta">
                <ul>
                    <li>
                        <img src="assets/img/blog/tag.svg" alt="tag">
                        <a routerLink="/blog-details-3">नई तकनीक से बन सकेंगे किफायती नैनो-इलेक्ट्रॉनिक उपकरण</a>
                    </li>
                    <li>
                        <img src="assets/img/blog/calendar.svg" alt="tag">
                        07 FEB, 2020
                    </li>
                </ul>
            </div>
            <blockquote class="wp-block-quote">
            <p><Strong>भारत नैनोवायर की अपनी जरूरतों के लिए फिलहाल आयात पर निर्भर है। यह नई तकनीक बड़े पैमाने पर सटीक नैनोवायर के उत्पादन में मददगार हो सकती है। इस प्रौद्योगिकी की सुरक्षा के लिए पेटेंट के लिए आवेदन किए गए हैं।</Strong></p>
        </blockquote>


        <div class="post-thumb">
            <img src="assets/img/blog/news6.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3">Bacteria can give jeans right 'fade'</a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                    04 FEB, 2007
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
        <p><Strong>Scientist of Pune's National Chemical Laboratory (NCL) have discovered an Alkalothermophilic Thermomonospora (bacteria) produces enzyme, which when mixed with a coarse denim cloth redued its hairiness and made it soft and lighter.</Strong></p>
    </blockquote>


    <div class="post-thumb">
            <img src="assets/img/blog/news5.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3"> आंतरशाखीय संशोधनावर भर देणार </a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                   
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
             <p><Strong>देशातील रसायनशास्त्र तंत्रज्ञानाच्या विकासाची साक्षीदार नव्हे, तर मुख्य शिल्पकार असलेली पुण्याची राष्ट्रीय रासायनिक प्रयोगशाळा.</Strong></p>
        </blockquote>


        <div class="post-thumb">
            <img src="assets/img/blog/news3.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3">Foreign firms benefit from R & D at NCL </a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                   
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
             <p><Strong>The National Chemical Laboratory performance since economic liberalisation eight years ago reveals that foreign industries have benefited considerably from the research and development conducted at this premier laboratory in the country.</Strong></p>
        </blockquote>

        <div class="post-thumb">
            <img src="assets/img/blog/news7.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3">न्यू इंडिया का निर्माण करने के लिए वैज्ञानिको का योगदान महत्वपूर्ण : डॉ. हर्ष वर्धन </a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                    09 SEP, 2019
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
             <p><Strong>एन सी एल में आयोजित कार्यक्रम में केंद्रीय विज्ञान व तकनीकी मंत्री ने कहा : नये भारत निर्माण हेतु साइंटिफिक सोशल मूवमेंट की जरुरत। </Strong></p>
        </blockquote>


        <div class="post-thumb">
            <img src="assets/img/blog/news8.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3">CSIR lab wins R & D contract in China</a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                    15 AUG.
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
             <p><Strong>India's technical consultancy has made a significant break-through by winning a contract to provide consultancy services to two Chinese laboratories against stiff international competition. </Strong></p>
        </blockquote>


        <div class="post-thumb">
            <img src="assets/img/blog/news9.jpg" alt="blog-details">
        </div>
        <div class="post-meta">
            <ul>
                <li>
                    <img src="assets/img/blog/tag.svg" alt="tag">
                    <a routerLink="/blog-details-3">पहले स्वदेशी हाइड्रोजन पोत को पीएम ने हरी झंडी दिखाई </a>
                </li>
                <li>
                    <img src="assets/img/blog/calendar.svg" alt="tag">
                    29 FEB, 2024
                </li>
            </ul>
        </div>
        <blockquote class="wp-block-quote">
             <p><Strong>आत्मनिर्भर भारत अभियान के तहत जहाज का निर्माण कोचीन शिपयार्ड में किया गया। </Strong></p>
        </blockquote>


                    <div class="post-footer">
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li>
                                    <a href="https://facebook.com/" class="facebook" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="linkedin" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" class="twitter" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" class="instagram" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="post-tags">
                            <span class="sub">Tags:</span>
                            <ul>
                                <li><a routerLink="/blog-tag" rel="tag">Medical</a></li>
                                <li><a routerLink="/blog-tag" rel="tag">Healthcare</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="comments-area">
                    <h3 class="comments-title">2 Comments:</h3>
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/img/user/user1.jpg" class="avatar" alt="user">
                                        <b class="fn">John Jones</b>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                </div>
                                <div class="reply">
                                    <a href="javascript:void(0)" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/img/user/user2.jpg" class="avatar" alt="user">
                                                <b class="fn">Steven Smith</b>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a href="javascript:void(0)" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="assets/img/user/user3.jpg" class="avatar" alt="user">
                                                        <b class="fn">Sarah Taylor</b>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                                </div>
                                                <div class="reply">
                                                    <a href="javascript:void(0)" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/img/user/user4.jpg" class="avatar" alt="user">
                                        <b class="fn">John Doe</b>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                </div>
                                <div class="reply">
                                    <a href="javascript:void(0)" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/img/user/user1.jpg" class="avatar" alt="user">
                                                <b class="fn">James Anderson</b>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a href="javascript:void(0)" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave A Reply</h3>
                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" cols="30" rows="5" placeholder="Your Comment..."></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkme">
                                        <label class="form-check-label" for="checkme">
                                            Save my name, email, and website in this browser for the next time I comment.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="default-btn">Post A Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>